:root {
    --textSize: calc(var(--height) / 30);
}
body {
    margin: calc(var(--height) * 0) calc(var(--width) * 0);
    height: var(--height);
    font-size: var(--textSize);
    width: var(--width);
}
header,
footer {
    height: calc(var(--height) / 10);
}
main {
    height: calc(var(--height) * 0.8);
}
body[status="404"] header {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: calc(var(--width) / 400);
    font-weight: bold;
    font-size: calc(var(--textSize) * 1.1);
}
body[status="404"] main {
    letter-spacing: calc(var(--width) / 400);
    display: flex;
    justify-content: center;
}
body[status="404"] footer,
#Homepage footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
body[status="404"] footer svg,
#Homepage footer svg {
    height: calc(var(--textSize) * 3);
}
#Homepage header nav {
    height: inherit;
    display: flex;
}
#Homepage header nav div {
    width: calc(var(--width) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}
#Homepage header nav div:nth-child(1) {
    width: calc(var(--width) * (2 / 3));
}
#Homepage header nav div:nth-child(1) a {
    width: calc(var(--textSize) * 2);
}
#Homepage header nav div:nth-child(2) {
    width: calc(var(--width) / 3);
}
#Homepage header nav div:nth-child(2) a {
    font-size: calc(var(--textSize) * 2);
}
#Homepage main {
    letter-spacing: calc(var(--width) / 400);
    display: flex;
    justify-content: center;
}